

<footer class="h-[10vh] relative w-full bg-slate-950">
    <p class="absolute bottom-0 left-0 right-0 mx-auto w-fit text-slate-700 " >Porfolio inspirado por <a href="https://github.com/midudev/porfolio.dev" class="underline hover:text-slate-500">Midudev/porfolio</a></p>
    <ul class="flex justify-center gap-5 h-full items-center">
        <li class="underline"><a href="https://github.com/Gonzalo-Erceg" target="_blank">Github</a></li>
        <li class="underline"><a href="mailto:gonzalo.erceg@hotmail.com" target="_blank">Contacto</a></li>
    </ul>
    
</footer>