<header class="fixed w-full">
    <nav class="flex mt-5 justify-center   gap-20">

            <a>Proyectos</a>
            <a>Tecnologías</a>
            <a>Sobre mi</a>
            <a>Contacto</a>
       
    </nav>



</header>