---
import { Image } from "astro:assets"
---

<div class="text-lg flex flex-col md:flex-row ">
    <div class="w-full md:w-1/2">
        <p >Me llamo <span class="text-yellow-300">Gonzalo Erceg</span>. Buscar constantemente oportunidades para crecer y mejorar es una parte integral de mi enfoque hacia el desarrollo web. Me motiva el desafío de enfrentarme a nuevos problemas y encontrar soluciones innovadoras. Disfruto explorando nuevas tecnologías y experimentando con diferentes enfoques de desarrollo para ampliar mis habilidades y conocimientos.  </p>

        
        <p class="mt-10">Mi objetivo es no solo convertirme en un desarrollador web competente, sino también en solucionar problemas de forma creativo y adaptable. Estoy comprometido a seguir aprendiendo y creciendo en mi carrera profesional, aprovechando cada oportunidad para mejorar y alcanzar nuevos niveles de excelencia.</p>
        <p class="mt-10">Mi pasión no solo se limita al desarrollo web sino tambien a el mundo del desarrollo de videojuegos, del cual estoy aprendiendo, y ahora explorando lenguajes como C++, Rust y Zig. </p>
    </div>

   <div  class="w-full md:w-1/2 overflow-hidden">
    <Image src="/img/carbon.png" width={600} height={600} alt={"code"} class="mx-auto object-cover   "/>
   </div>
</div>

