---
interface Technologies {
  title: string;
  icon: any; 
  color: string;
}


import {TAGS} from "./icons/Icons"
const tech: Technologies[] = []
for (let clave in TAGS){
    tech.push(TAGS[clave])
}


---


<ul class="flex flex-wrap gap-10 mt-10 justify-center items-center ">
    {tech.map(item=><li class={` py-3 px-4 rounded-lg bg-slate-800 transition-all hover:bg-slate-700 flex flex-col items-center gap-2 `}><item.icon w={50} h={50}/> <span>{item.title}</span></li>)}
</ul>